* {
    box-sizing: border-box; 
    margin: 0;
}


html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

nav {
    background-color: white;
    color: black;
    height: 2em;
    align-content: center;
    width: fit-content;
    margin: auto;
    padding: 0.5em 0 0.5em 0;
}

nav > a {
    margin: 1em;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#titlebox {
    background-image: url('/img/banner.jpg');
    width: 100vw;
    background-size: cover;
    padding: 2em 2em 2em 2em;
    /* height: 100vh; */
    /* background-position: center; */
}

#title {
    font-size: 3em;
    font-weight: 900;    
    margin: 1em 0em 1em 4em;
    color: white;
    border-bottom: 5px solid white;
    padding-bottom: 0.2em;
    max-width: fit-content;
    min-width: fit-content;
}

#title > span:nth-child(1) {
    color: #FFE964;
}

#title > span:nth-last-child(3) {
    color: #FF523D;
}

#title > span:last-child {
    color: #223C88;
}

#mission {
    background-color: #FFE964;
    text-align: center;
    margin: 0;
    padding: 10% 25%;
}

h1 {
    font-size: 3em;
    font-weight: 900;
    padding-bottom: 1em;    
}

#about {
    background-color: #ffffff;
    text-align: left;
    margin: 0;
    padding: 10% 25%;
}

#team {
background-color: #FF523D;
}

#contact {
    background-color: #223C88;
}